<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyPortfolio</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EducationController</display-name>
    <servlet-name>EducationController</servlet-name>
    <servlet-class>com.controller.EducationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EducationController</servlet-name>
    <url-pattern>/EducationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseController</display-name>
    <servlet-name>CourseController</servlet-name>
    <servlet-class>com.controller.CourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseController</servlet-name>
    <url-pattern>/CourseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AchievementController</display-name>
    <servlet-name>AchievementController</servlet-name>
    <servlet-class>com.controller.AchievementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AchievementController</servlet-name>
    <url-pattern>/AchievementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageController</display-name>
    <servlet-name>MessageController</servlet-name>
    <servlet-class>com.controller.MessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageController</servlet-name>
    <url-pattern>/MessageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveForUpdateController</display-name>
    <servlet-name>SaveForUpdateController</servlet-name>
    <servlet-class>com.controller.SaveForUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveForUpdateController</servlet-name>
    <url-pattern>/SaveForUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyController</display-name>
    <servlet-name>MyController</servlet-name>
    <servlet-class>com.controller.MyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyController</servlet-name>
    <url-pattern>/MyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectController</display-name>
    <servlet-name>ProjectController</servlet-name>
    <servlet-class>com.controller.ProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectController</servlet-name>
    <url-pattern>/ProjectController</url-pattern>
  </servlet-mapping>
</web-app>